.header {
    display: flex;
    justify-content: space-between;
    color: #0f65ef;
    font-weight: bold;
    font-size:15px;
}

.logo {
    width: 125px;
}

body {
    background-color: white;
}

.ultimate {
    width: 50%;
    height:50%;
}

#caption {
    font-size: 20px;
}

#SakuraiImg {
    border-radius: 50%;
    width: 150px;
    height:110px;
}


a {
    color: #0f65ef;
    font-weight: bold;
}

#tom {
    color: grey;
}

.result {
   text-align:center;
}
.roster{
    display:none;
}

button {
    margin-top: 10px;
    color: white;
    background-color: blue;
    font-size: 35px;
    border-radius: 30px;
    border:3px groove black ;
    font-family: monospace;
    padding:15px;
}
h1{
    font-size:35px ;
}
h2{
    font-size:30px ;
}
#caption{
    font-size:25px;
}
body{

    margin-left:20px;
}
